# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/

# Git / VCS
.git/
.gitignore

# Local files
.env
test.db

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
